extends layout
 
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let furnituresid  = toShow._id
    - let material_type = toShow.material_type
    - let style  = toShow.style
    - let price  = toShow.price
    - let actionid = "/resource/dogs/" + furnituresid 
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='furnituresAttr mr-3') furnitures ID is:
        div #{furnituresid }
      div.row
        div(class='furnituresAttr mr-3') material type  is:
        div #{material_type}
      div.row
        div(class='furnituresAttr mr-3') style  is:
        div #{style}
      div.row
        div(class='furnituresAttr mr-3') price  is:
        div #{price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the furnitures collection
        window.location.href='/furnitures'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/furnitures'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
 